@font-face {
  font-style: normal;
  font-family: Georgianew;
  font-weight: normal;
  src: url('georgia.ttf');
}

body {
  margin: 0;
  padding: 0;
  text-align: left;

  font-family: Georgianew;
  font-size: 100%;
  color: #000000;
}

h1 {
  font-size: 1.4em;
  margin-bottom: 5px;
  margin-top: 0;
  padding-bottom: 5px;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  padding-bottom: 0px;
  margin-top: 0;
}

h3 {
  font-size: 1em;
  margin-bottom: 5px;
  margin-top: 0;
}

.centered {
  margin: 0 auto;
}

.r-float {
  float: right;
}

.l-float {
  float: left;
}

.clear {
  clear: both;
}

.c-white {
  color: #ffffff;
}

.c-black {
  color: #000000;
}
/* ----- general end ----- */





/* ----- content start ----- */
#content {
  position: relative;
  margin: 0 auto;
  padding: 0.75em 5%;
}

#content .box {
  margin-bottom: 30px;
  page-break-after: always;
}

#content .box .right-box {
  float: right;
  width: 370px;
}

#content .box .right-box img.main-logo {
  width: 100%;
  margin-bottom: 5px;
}

#content .box .right-box .img-box {
  width: 100%;
  border-top: 1px dashed #000000;
}

#content .box .right-box .img-box img {
  float: left;
  width: 100px;
  height: 75px;
  padding: 10px;
}

#content ul {
  margin:0 0 10px;
  padding:0 0 0 30px
}

#content p {
  margin: 10px 0;
  padding: 0;
}
/* ----- content end ----- */
