* {
    margin: 0;
    padding: 0;
}

body {
    padding: 8px 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
    width: 800px;
}

h1 {
    margin-bottom: 16px;
}

h2 {
    margin-top: 32px;
    margin-bottom: 16px;
}

h3 {
    margin-top: 16px;
    margin-bottom: 8px;
}

h4 {
    margin-top: 8px;
    margin-bottom: 4px;
}

ul, ul ul {
    margin-left: 16px;
}

img {
    float: right;
    margin-left: 32px;
    margin-bottom: 32px;
}

a {
    display: block;
    margin-bottom: 16px;
}

ul a {
    margin-bottom: 0;
}

p {
    text-align: justify;
}

.rank {
    display: inline-block;
    font-size: 14px;
}